@charset "UTF-8";

:root{

    --height-header:5rem;
    --padding-inner:5vw 8vw;

}



/* =========================
   Header
   ========================= */
header{display:flex; justify-content:space-between; align-items:center; position:relative; padding:0 3rem; width:100%; height:var(--height-header); background:rgba(255,255,255,0.8); backdrop-filter:blur(5px); border-bottom:1px solid #ddd; font-size:1.25rem; position:fixed; top:0; left:0; z-index:99;}
header div.h-logo{color:var(--color-gray); font-weight:700; text-wrap:nowrap;}
header div.h-logo .hidden-txt{display:none;}
header div.h-nav{}
header div.h-nav ul.nav-list{display:flex; align-items:center; gap:5rem;}
header div.h-nav ul.nav-list li{color:var(--color-gray); position:relative; transition:0.3s;}
header div.h-nav ul.nav-list li:after{content:''; display:block; width:6px; height:6px; opacity:0; background:var(--color-black); border-radius:50%; position:absolute; top:50%; left:-1rem; transform:translateY(-50%);}
header div.h-nav ul.nav-list li a{width:100%; height:100%;}
header div.h-nav ul.nav-list li.on{color:var(--color-black); font-weight:800;}
header div.h-nav ul.nav-list li.on:after{opacity:1; animation:move_dots 2s infinite;}
header div.h-nav ul.nav-list li:not(.on):hover{color:var(--color-black);}
@keyframes move_dots {
    0%,100%{box-shadow:0 0 0 0 rgba(0,0,0,0);}
    50%{box-shadow:0 0 0 5px rgba(0,0,0,0.1);}
}


/* =========================
   Common Section
   ========================= */
#wrap section[class^="sect"] div.sect-inner{width:100%; padding:var(--padding-inner);}
#wrap section[class^="sect"] div.sect-tit{margin-bottom:3rem; word-break:keep-all;}
#wrap section[class^="sect"] div.sect-tit p.eng{font-weight:800; font-size:clamp(3rem, 2.4rem + 3vw, 6rem); margin-bottom:1rem;}
#wrap section[class^="sect"] div.sect-tit p.kor{font-size:clamp(1.125rem, 1.05rem + 0.375vw, 1.35rem);; opacity:.6;}
#wrap .scrollTop{opacity:0; bottom:0; position:fixed; right:2%; width:4rem; height:4rem; z-index:999; transition: 0.3s; background:#fff url("../img/ico_arrow.svg")center/30% auto no-repeat; border-radius:3px; box-shadow:0 0 30px rgba(0,0,0,0.2);}
#wrap .scrollTop.on{opacity:1;bottom:10%;}
#wrap .scrollTop:hover{background:var(--color-black) url("../img/ico_arrow_wh.svg")center 40%/30% auto no-repeat;  box-shadow:0 20px 25px rgba(0,0,0,0.3);}



/* =========================
   Intro Section
   ========================= */
section.sect-intro{margin-top:calc(var(--height-header) + 5vh);}
section.sect-intro div.intro{position:relative;} 
section.sect-intro div.intro div.main-txt{word-break:keep-all;} 
section.sect-intro div.intro div.main-txt p.eng-txt{font-size:clamp(4rem, 3.3333rem + 2.2222vw, 6rem); font-weight:800;  line-height:1.3;} 
section.sect-intro div.intro div.main-txt p.kor-txt{font-size:1.35rem; margin-top:2rem; line-height:1.8;} 
section.sect-intro div.intro div.main-ico{width:25%; position:absolute; top:55%; right:0; transform:translateY(-50%);}  
section.sect-intro div.intro div.main-ico div.ico{width:100%; height:auto; animation:move_real_img 2s infinite; animation-timing-function:ease-in-out;} 
section.sect-intro div.intro div.main-ico div.shadow{width:100%; animation:move_shadow_img 2s infinite; animation-timing-function:ease-in-out;} 
@keyframes move_real_img{
    0%{transform:translateY(-3%);}
    50%{transform:translateY(3%);}
    100%{transform:translateY(-3%);}
}
@keyframes move_shadow_img{
    0%{transform:translateY(3%) scale(1.0);}
    50%{transform:translateY(-3%) scale(1.2);}
    100%{transform:translateY(3%) scale(1.0);}
}




/* =========================
   Work Section
   ========================= */
section.sect-work{}
section.sect-work p.tip{font-size:14px; color:var(--color-gray); text-align:right; position:relative; width:fit-content; margin:0 0 1rem auto;}
section.sect-work p.tip:before{content:''; display:block; width:4px; height:4px; background:var(--color-gray); opacity:.8; border-radius:50%; position:absolute; top:50%; left:-0.8rem; transform:translateY(-50%);}
section.sect-work ul.work-list{display:flex; flex-wrap:wrap; gap:3rem; justify-content:space-between;}
section.sect-work ul.work-list li{width:calc((100% - 6rem) / 3); height:21rem; position:relative; border-radius:5px; overflow:hidden;}
section.sect-work ul.work-list li a{display:block; width:100%; height:100%;}
section.sect-work ul.work-list li div.thumb{width:100%; height:100%;}
section.sect-work ul.work-list li div.thumb:after{content:''; display:block; width:100%; height:100%; z-index:1; background:rgba(0,0,0,0.05); position:absolute; top:0; left:0;}
section.sect-work ul.work-list li div.thumb img{width:100%; height:100%; object-fit:cover;}
section.sect-work ul.work-list li div.thumb div.tag{position:absolute; bottom:0.8rem; left:0.8rem; display:flex; gap:5px; align-items:center; z-index:2;}
section.sect-work ul.work-list li div.thumb div.tag span{font-size:14px; padding:2px 10px; border-radius:3px; background:var(--color-black); color:#fff;}

/* hover */
section.sect-work ul.work-list li div.hover{position:absolute; width:100%; height:100%; top:100%; left:0; transition:0.5s ease-in-out; z-index:10; background:rgba(0,0,0,0.8); color:#fff; backdrop-filter:blur(3px);}
section.sect-work ul.work-list li div.hover div.inner{width:100%; height:100%; padding:2.5rem; display:flex; flex-direction:column; justify-content:flex-end; position:relative;}
section.sect-work ul.work-list li div.hover div.inner:before{content:''; display:block; width:2rem; height:2rem; background:url("../img/ico_arrow_wh.svg")center/contain no-repeat; position:absolute; top:1.5rem; right:1.5rem; opacity:.3; transform:rotate(45deg);}
section.sect-work ul.work-list li div.hover div.inner p.edu-name{font-weight:800; font-size:1.6rem; margin-bottom:0.5rem;}
section.sect-work ul.work-list li div.hover div.inner div.edu-con{}
section.sect-work ul.work-list li div.hover div.inner div.edu-con p.con{margin-top:0.5rem; display:flex; gap:0.25rem;}
section.sect-work ul.work-list li div.hover div.inner div.edu-con p.con span.t-tit{opacity:.5; min-width:3.2rem;}

/* moreview */
section.sect-work div.move-moreview{margin-top:5rem; text-align:center;}
section.sect-work div.move-moreview a{position:relative; margin:0 auto; width:fit-content;}
section.sect-work div.move-moreview a:before{content:''; display:block; width:100px; height:100px; background:linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(255 255 255 / 0%) 100%); z-index:1; position:absolute; top:0; left:0;}
section.sect-work div.move-moreview a:after{content:''; display:block; width:100px; height:100px; background:linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, rgba(255, 255, 255, 1) 100%); z-index:1; position:absolute; top:0; right:0;}
section.sect-work div.move-moreview a ul.moreview{display:flex; align-items:center; gap:3rem; flex-wrap:nowrap; white-space:nowrap; overflow:hidden;}
section.sect-work div.move-moreview a ul.moreview li{display:flex; align-items:center; gap:0.5rem; animation:move_text 10s linear infinite; position:relative;}
section.sect-work div.move-moreview a ul.moreview li p{font-size:1.5rem;}
section.sect-work div.move-moreview a ul.moreview li div.arrow{display:inline-block; width:1.5rem; height:1.5rem; position:relative;}
section.sect-work div.move-moreview a ul.moreview li div.arrow i{transition:0.3s; display:block; background:var(--color-black); position:absolute;}
section.sect-work div.move-moreview a ul.moreview li div.arrow i:not(.a02){width:1px; height:50%; top:0; left:50%; transform:translateX(-50%);}
section.sect-work div.move-moreview a ul.moreview li div.arrow i.a02{width:100%; height:1px; top:50%; left:0; transform:translateY(-50%);}
section.sect-work div.move-moreview a ul.moreview li div.arrow i.a03{top:unset; bottom:0;}
@media(hover:hover){
    section.sect-work ul.work-list li:hover div.hover{top:0%;}

    section.sect-work div.move-moreview a:hover ul.moreview li{animation-play-state: paused;}
    section.sect-work div.move-moreview a:hover ul.moreview li div.arrow i.a01{left:calc(100% - 4px); top:2px; transform:translateX(-50%) rotate(-45deg);}
    section.sect-work div.move-moreview a:hover ul.moreview li div.arrow i.a03{left:calc(100% - 4px); top:unset; bottom:2px; transform:translateX(-50%) rotate(45deg);}
}
@keyframes move_text{
    0%{transform:translateX(0);}w i.a01{left:calc(100% - 4px); top:2px; transform:translateX(-50%) rotate(-45deg);}
    100%{transform:translateX(-100%);}
}



/* =========================
   Project Section
   ========================= */
section.sect-project div.project{}
section.sect-project div.project ul.p-list{border-top:1px solid #ccc;}
section.sect-project div.project ul.p-list li{border-bottom:1px solid #ccc;}
section.sect-project div.project ul.p-list li:last-child{border-bottom:0;}
section.sect-project div.project ul.p-list li a{padding:3rem 1rem; display:flex; justify-content:space-between; align-items:center;}
section.sect-project div.project ul.p-list li a p.tit{width:60%; font-weight:600; font-size:1.35rem;}
section.sect-project div.project ul.p-list li a p.edu{width:40%; word-break:keep-all; color:var(--color-gray); font-size:1.125rem; word-spacing:4px;}



/* =========================
   Skills Section
   ========================= */
section.sect-skills{width:100% !important; min-height:100vh; background:#000; display:flex; align-items:Center; justify-content:center; position:relative;} 
section.sect-skills:before{content:''; display:block; width:100%; height:100%; position:absolute; top:0; left:0;}
section.sect-skills div.sect-bg{position:absolute; top:0; left:0; width:100%; height:100%;}
section.sect-skills div.sect-bg div.bg{position:absolute; top:0; left:0; width:100%; height:100%; transition: 0.5s;  opacity:0;}
section.sect-skills div.sect-bg div.bg.design{background:url("../img/skills_bg_design.png")center/cover no-repeat;}
section.sect-skills div.sect-bg div.bg.publishing{background:url("../img/skills_bg_publlishing.png")center/cover no-repeat;}
section.sect-skills div.sect-inner{position:relative; z-index:10;}
section.sect-skills div.sect-tit{color:#fff;}
section.sect-skills div.skill-box{display:flex; align-items:center; justify-content:space-between;}
section.sect-skills div.skill-box div.skill{width:48%; min-height:50vh;padding:4rem; overflow: hidden; border-radius:5px; transition:transform 0.5s; backdrop-filter:blur(5px); display:flex; flex-direction:column; justify-content:flex-end; position:relative;}
section.sect-skills div.skill-box div.skill div.s-bg{position:absolute; top:0; left:0; width:100%; height:100%; opacity:.9; z-index:0; transition:0.5s;}
section.sect-skills div.skill-box div.skill div.s-txt{position:relative; z-index:1;}
section.sect-skills div.skill-box div.skill div.s-txt p.tit{color:#fff; font-size:2.5rem; font-weight:700; text-shadow:1px 1px 3px rgba(0,0,0,0.1);}
section.sect-skills div.skill-box div.skill div.s-txt ul.dot-list{opacity:.8; display:none;}
section.sect-skills div.skill-box div.skill div.s-txt ul.dot-list li{color:#fff; margin-top:0.5rem; padding-left:1rem; position:relative; font-size:1.125rem;}
section.sect-skills div.skill-box div.skill div.s-txt ul.dot-list li:before{content:''; display:block; width:4px; height:4px; background:#fff; border-radius:50%; position:absolute; top:0.7rem; left:0;}
section.sect-skills div.skill-box div.skill div.s-ico{margin-top:2rem; position:relative; z-index:1;}
section.sect-skills div.skill-box div.skill div.s-ico ul.ico-list{display:flex; align-items:center; gap:0.5rem;}
section.sect-skills div.skill-box div.skill div.s-ico ul.ico-list li{width:4rem; height:4rem; padding:1rem; background:#fff; border-radius:3px; text-align:center; box-shadow:0 0 10px rgba(0,0,0,0.3);}
section.sect-skills div.skill-box div.skill div.s-ico ul.ico-list li img{display:block; width:100%; height:100%; object-fit:contain;}
section.sect-skills div.skill-box div.skill.design div.s-bg{background:url("../img/skills_bg_design.png")center/cover no-repeat;}
section.sect-skills div.skill-box div.skill.publishing div.s-bg{background:url("../img/skills_bg_publlishing.png")center/cover no-repeat;}

/* hover */
section.sect-skills div.skill-box div.skill.hover{transform:scale(1.05); background:rgba(255,255,255,0.1);}
section.sect-skills div.skill-box div.skill.hover div.s-bg{opacity:0;}
section.sect-skills div.sect-bg div.bg.on{opacity:.2;}



/* =========================
   About Section
   ========================= */
section.sect-about{overflow:hidden;}
section.sect-about div.sect-inner{padding-bottom:0 !important;}
section.sect-about div.sect-top{display:flex; justify-content:space-between;}
section.sect-about div.sect-tit{text-align:right;}
section.sect-about div.prof-talk{display:flex; gap:1rem; align-items:flex-end; flex-wrap:wrap;}
section.sect-about div.prof-talk div.img{width:14rem; height:16rem; border-radius:5px; overflow:hidden;}
section.sect-about div.prof-talk div.img img{width:100%; height:100%; object-fit:cover; perspective: 1000px;} 
section.sect-about div.prof-talk div.talk{}
section.sect-about div.prof-talk div.talk div.bubble{margin-left:1rem; padding:1.5rem 2rem; border-radius:1rem; position:relative; background:#efefef; margin-top:0.5rem; min-width:50%;}
section.sect-about div.prof-talk div.talk div.bubble:before{content:''; display:block; width:1rem; height:1rem; clip-path: polygon(100% 0, 0 0, 100% 100%); background:#efefef; position:absolute; top:1rem; left:-1rem;}
section.sect-about div.prof-talk div.talk div.bubble div.dots{display:flex; align-items:center; gap:10px; position:absolute; top:50%; left:2rem; transform:translateY(-50%);}
section.sect-about div.prof-talk div.talk div.bubble div.dots span{display:inline-block; width:12px; height:12px; background:#ccc; border-radius:50%; animation:talk_dots 2.3s cubic-bezier(0.55, 0.58, 0.4, 1.46) infinite forwards;}
section.sect-about div.prof-talk div.talk div.bubble div.dots span.d01{}
section.sect-about div.prof-talk div.talk div.bubble div.dots span.d02{animation-delay:0.3s;}
section.sect-about div.prof-talk div.talk div.bubble div.dots span.d03{animation-delay:0.6s;}
section.sect-about div.prof-talk div.talk div.bubble p.txt{font-size:1.5rem; font-weight:500; position:relative; z-index:2; color:#7f7f7f;}
section.sect-about div.prof-talk div.talk div.bubble p.txt b{color:var(--color-black);}
@keyframes talk_dots {
    0%,100% {opacity: 0.3;scale: 0.6;}
    40%,80% {opacity: 1; scale: 1;}
}


/* profile list */
section.sect-about div.prof-list{margin-top:5rem; border-top:1px solid var(--color-black);}
section.sect-about div.prof-list div.prof{display:flex; align-items:center; padding:3rem 2rem; border-bottom:1px solid #ddd;}
section.sect-about div.prof-list div.prof:last-child{border-bottom:none; padding-bottom:0;}
section.sect-about div.prof-list div.prof div.l-tit{width:50%; font-size:2rem; letter-spacing:1.5px; color:var(--color-gray);}
section.sect-about div.prof-list div.prof div.r-con{width:50%;}
section.sect-about div.prof-list div.prof div.r-con ul.prof-detail{}
section.sect-about div.prof-list div.prof div.r-con ul.prof-detail li{font-size:1.25rem; word-break:keep-all; padding-bottom:1.5rem;}
section.sect-about div.prof-list div.prof div.r-con ul.prof-detail li:last-child{padding-bottom:0 !important;}
section.sect-about div.prof-list div.prof div.r-con ul.prof-detail li p.txt01{font-weight:600;}
section.sect-about div.prof-list div.prof div.r-con ul.prof-detail li p.txt02{font-size:0.8em; opacity:.6;}

/* flow area */
section.sect-about div.flow-area{position:relative; padding:5rem 0;}
section.sect-about div.flow-area p.flow-txt{cursor:default; font-weight:800; font-size:clamp(4rem, 2.8rem + 6vw, 10rem); text-wrap:nowrap; animation:flow_text 30s linear infinite; position:relative;}
section.sect-about div.flow-area span.hover-txt{opacity:0; font-size:1.25rem; transform: translate(10%, -150%); text-wrap:nowrap; transition:0.3s; font-weight:400; letter-spacing:1px; padding:1rem 1.5rem; font-size:1.2rem; background:#fff; border-radius:50px; position:absolute; box-shadow:0 0 30px rgba(0,0,0,0.2);}
section.sect-about div.flow-area span.hover-txt:before{content:''; display:block; width:1rem; height:1rem; border-radius:50%; position:absolute; left:-0.8rem; bottom:-0.6rem; background:#fff; box-shadow:0 0 20px rgba(0,0,0,0.4);}
section.sect-about div.flow-area span.hover-txt:after{content:''; display:block; width:0.6rem; height:0.6rem; border-radius:50%; position:absolute; left:-1.5rem; bottom:-1.5rem; background:#fff; box-shadow:0 0 15px rgba(0,0,0,0.4);}
section.sect-about div.flow-area p.flow-txt:hover{animation-play-state: paused;}
section.sect-about div.flow-area p.flow-txt:hover + span.hover-txt{opacity:1;}
@keyframes flow_text{
    0%{transform:translateX(0);}
    100%{transform:translateX(-50%);}
}




/* =========================
   Footer
   ========================= */
footer{padding:2rem 3rem; padding-top:0; display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; gap:1rem;}
footer div.f-copy{}
footer div.f-copy p.copyright{color:var(--color-gray);}
footer div.f-contact{}
footer div.f-contact ul.contact-list{display:flex; align-items:center; gap:1rem 3rem; flex-wrap:wrap;}
footer div.f-contact ul.contact-list li{display:flex; align-items:center; gap:0.8rem;}
footer div.f-contact ul.contact-list li div.ico{width:2.5rem; height:2.5rem; border:1px solid var(--color-gray); border-radius:3px;}
footer div.f-contact ul.contact-list li div.ico.phone{background:url("../img/ico_phone.svg")center/50% auto no-repeat;}
footer div.f-contact ul.contact-list li div.ico.mail{background:url("../img/ico_mail.svg")center/50% auto no-repeat;}
footer div.f-contact ul.contact-list li div.txt{font-size:1.125rem; text-wrap:nowrap;}




/* =========================
   반응형
   ========================= */
@media screen and (max-width:1440px){
    :root{
        --padding-inner:5vw;
    }

}
@media screen and (max-width:1280px){

    section.sect-work ul.work-list{gap:2rem;}
    section.sect-work ul.work-list li{width:calc((100% - 4rem) / 3); height:16rem;}
    section.sect-work div.move-moreview{margin-top:3.5rem;}
    section.sect-work div.move-moreview a ul.moreview li p{font-size:1.35rem;}
    section.sect-work div.move-moreview a ul.moreview li div.arrow{width:1.35rem; height:1.35rem;}

    section.sect-project div.project ul.p-list li a p.edu{font-size:1rem;}

    section.sect-skills div.skill-box div.skill{padding:3rem;}
    section.sect-skills div.skill-box div.skill div.s-txt p.tit{font-size:2rem;}
    section.sect-skills div.skill-box div.skill div.s-txt ul.dot-list li{font-size:1rem;}

    section.sect-about div.prof-talk div.talk div.bubble p.txt{font-size:1.35rem;}
    section.sect-about div.prof-list div.prof div.l-tit{width:40%;}
    section.sect-about div.prof-list div.prof div.r-con{width:60%;}

}
@media screen and (max-width:960px){

    :root{
        --height-header:4.5rem; 
        --padding-inner:8vw 3vw;
    }

    header{font-size:1.125rem;}
    header div.h-nav ul.nav-list{gap:3rem;}

    #wrap section[class^="sect"] div.sect-tit{text-align:center;}
    #wrap section[class^="sect"] div.sect-tit p.kor{padding:0 3%;}

    section.sect-intro div.intro div.main-txt{text-align:center;}
    section.sect-intro div.intro div.main-txt p.kor-txt{padding:0 3%;}
    section.sect-intro div.intro div.main-ico{display:none;}

    section.sect-work ul.work-list{display:block; margin-right:-2rem;}
    section.sect-work ul.work-list li{margin-right:2rem; height:18rem;}
    section.sect-work ul.work-list li div.hover{display:none;}
    section.sect-work div.move-moreview a ul.moreview li{animation:none;}

    section.sect-skills div.skill-box div.skill{padding:2.5rem;}
    section.sect-skills div.skill-box div.skill div.s-ico ul.ico-list li{width:3.5rem; height:3.5rem;}
    section.sect-skills div.skill-box div.skill div.s-txt ul.dot-list li:before{top:0.6rem;}

    section.sect-about div.sect-top{flex-direction:column-reverse;}
    section.sect-about div.prof-talk{justify-content:center;}
    section.sect-about div.prof-list{margin-top:3rem;}
    
    footer div.f-contact ul.contact-list li div.ico{width:2rem; height:2rem;}
    footer div.f-contact ul.contact-list li div.txt{font-size:1rem;}

}
@media screen and (max-width:600px){

    header{padding:0 2rem; justify-content:center;}
    header div.h-logo .hidden-txt{display:inline-block;}
    header div.h-nav{display:none;}

    #wrap .scrollTop{width:3.5rem; height:3.5rem;}
    #wrap .scrollTop.on{bottom:4%;}

    section.sect-work ul.work-list{margin-right:-1rem;}
    section.sect-work ul.work-list li{margin-right:1rem; height:16rem;}
    section.sect-work div.move-moreview a ul.moreview{gap:1.5rem;}
    section.sect-work div.move-moreview a ul.moreview li p{font-size:1.2rem;}
    section.sect-work div.move-moreview a ul.moreview li div.arrow{width:1.2rem; height:1.2rem;}

    section.sect-project div.project ul.p-list li:nth-child(even){background:#f2f2f2;}
    section.sect-project div.project ul.p-list li a{padding:2rem 0; display:block; text-align:center;}
    section.sect-project div.project ul.p-list li a p.tit{width:100%; margin-bottom:1rem;}
    section.sect-project div.project ul.p-list li a p.edu{width:100%;}

    section.sect-skills div.skill-box{display:block; padding:0 2rem;}
    section.sect-skills div.skill-box div.skill{width:100%; min-height:unset; height:auto; margin-bottom:2rem;}

    section.sect-about div.prof-talk div.img{width:11rem; height:14rem;}
    section.sect-about div.prof-talk div.talk div.bubble p.txt{font-size:1.2rem;}
    section.sect-about div.prof-list div.prof{display:block; padding:2rem;}
    section.sect-about div.prof-list div.prof div.l-tit{width:100%; opacity:.5; margin-bottom:2rem;}
    section.sect-about div.prof-list div.prof div.r-con{width:100%;}
    section.sect-about div.flow-area{padding:3rem 0;}

}
@media screen and (max-width:480px){

    :root{
        --padding-inner:5rem 3vw;
    }

    section.sect-work ul.work-list{margin-right:0; position:relative;}
    section.sect-work ul.work-list li{height:auto; margin:0 0.5rem;}
    section.sect-work ul.work-list button.slick-arrow{font-size:0; width:3rem; height:3rem; z-index:10; border:1px solid #ddd; border-radius:3px; background:#fff url("../img/ico_arrow.svg")center/40% auto no-repeat; position:absolute; top:50%;}
    section.sect-work ul.work-list button.slick-arrow.slick-prev{left:-0.5rem;  transform:translateY(-50%) rotate(-90deg);}
    section.sect-work ul.work-list button.slick-arrow.slick-next{right:-0.5rem; transform:translateY(-50%) rotate(90deg);}
    section.sect-work div.move-moreview a:before,
    section.sect-work div.move-moreview a:after{display:none;}
    section.sect-work div.move-moreview a ul.moreview li{border:1px solid #aaa; padding:0.8rem 1.5rem; border-radius:3px;}
    section.sect-work div.move-moreview a ul.moreview li p{font-size:1.125rem;}
    section.sect-work div.move-moreview a ul.moreview li:nth-of-type(1),
    section.sect-work div.move-moreview a ul.moreview li:nth-of-type(3){display:none;}
    section.sect-work div.move-moreview a ul.moreview li div.arrow{display:none;}

    section.sect-project div.project ul.p-list li a p.tit{font-size:1.25rem;}

    section.sect-skills div.skill-box{padding:0 1rem;}

    section.sect-about div.prof-talk div.talk div.bubble:nth-of-type(2){display:none;}
    section.sect-about div.prof-list div.prof{padding:2rem 1rem;}
    section.sect-about div.prof-list div.prof div.r-con ul.prof-detail li{font-size:1.15rem;}


}
