/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin */
body,
h1, h2, h3, h4,
p, figure,
blockquote, dl, dd {
  margin: 0;
}

/* Body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Images */
img, picture {
  max-width: 100%;
  display: block;
}

/* Form elements inherit font */
input, button,
textarea, select {
  font: inherit;
}

/* textarea 기본 높이 */
textarea:not([rows]) {
  min-height: 10em;
}


/************** custom reset  *************/
a{color:inherit; text-decoration:none; display:inline-block;}
ul,ol,dl{list-style:none; margin:0; padding:0;}
img{display:block; max-width:100%; max-height:100%;}